body{
    font-family: 'Times New Roman', Times, serif;
    background-color: darkslategrey;
    color: black;
}
h1{
    font-size: 2em;
    
}
h2{
    font-size: 1.5em;
    
}
p{
    line-height: 1.5em;
    font-size: 1.25em;
}

section{
    display: flex;
    background-color: white;
    
    
}

#PhotoMe{
    height: 300px;
    width: 200px;
    float: left;
    margin-right: 20px;
}
#nav{
    border-bottom: 10px solid black;
    border-top: 20px solid black;
    background-color: #0B9A6D;
}
.code{
    height: 800px;
    width: inherit;
}
#contact{
    float: left;
    margin-right: 10px;
}
#title{
    float: left;
}
#Game{
    height: 500px;
    width: 250px;
}
